input {
  padding: 10px;
  background: transparent;
  border-bottom: 2px solid;
  color: white;
  border-color: dimgray;
  border-radius: 10px;
}
input:focus {
  outline: none;
  border: white 1px solid;
}

.deley-button {
  padding: 15px;
  margin-top: 50px;
  transition-delay: 50ms;
  border: 1px solid;
  cursor: pointer;
  transition-property: border-color, color;
  transition-duration: 0.1s;
}
.deley-button:hover {
  border-color: #ffc107;
  color: #ff9800;
}
